* {
    padding: 0px;
    margin: 0px;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12.5px;
    color: black;
}

body {
    margin: 0 auto;
}

#banner {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
}
#bannerSpace {
    height: 65px;    
}

#mainToolsOpener {
    text-decoration: none;
    color: lightgray;
    font: italic 32px Verdana;
}
#mainToolsToolbox {
    display: none;
    position: fixed;
    z-index: 25;
    width: 200px;
    top: 62px;
    left: 5px;
}

#logoImg {
    vertical-align: middle;
    height: 40;
    width: 40px;
}

#invisibleHelperObjects {
    display: none;
}

.imgInSpan {
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
}

.dataContentTable {
    width: 100%;
    margin-top: 15px;
    padding: 3px;
    border-collapse: collapse;
}
.dataContentTable th {
    border: 0px solid #ddd;
    padding: 8px;
}
.dataContentTable td {
    border: 0px solid #ddd;
    padding: 8px;
}
.dataContentTable .header {
    background: #f6a828;
}
.dataContentTable .even {
    background-color: white;
}
.dataContentTable .even:hover {
    background-color: #ffffcc;
}
.dataContentTable .odd {
    background-color: #f2f2f2;
}
.dataContentTable .odd:hover {
    background-color: #ffffcc;
}
.dataContentTable .left {
    text-align: left;
}
.dataContentTable .middle {
    text-align: center;
}
.dataContentTable .right {
    text-align: right;
}
